* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
}

.accordian {
  width: 700px;
  margin: 100px auto;
}

.item {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  padding: 24px;

  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: auto 1fr auto;
  cursor: pointer;
  margin-bottom: 25px;
}
.icon {
  width: 24px;
  height: 24px;
  stroke: #087f5b;
}

.number,
.question {
  font-size: 24px;
  font-weight: 500;
  /* color: #087f5b; */
}

.number {
  color: #ced4da;
}

.item .hidden-box{
  display: none;
}

.hidden-box {
  grid-column: 2;
}

.hidden-box ul{
  color: #868e96;
  margin-top: 15px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.open{
  border-top: 4px solid #087f5b;
}

.open .number{
  color: #087f5b;
}

.open .hidden-box{
  display: block;
  transition: ease-in-out 3s;
}