* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: "Inter", sans-serif;
    color: #343a40;
    line-height: 1;
}

table{
    margin: 100px auto;
    width: 800px;
    border-collapse: collapse;
}

td,th{
   /* border: 1px solid grey;  */
   padding: 16px 24px;
   text-align: left;
}

thead th{
    width: 25%;
    color: white;
    background-color: tomato;
}

tbody tr:nth-child(odd){
    background-color: #f8f9fa;
}

tbody tr:nth-child(even){
    background-color: #e9ecef;
}